@import './assets/CSS/springStyle.css';

@font-face {
    font-family: "pixelFont";
    src: url(./assets/FONTS/VT323-Regular.ttf);
}

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html, body {
    width:100%;
    height:100%;
}

