body {
    background-image: url(../IMG/stardewBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'bodyFont';
    color:#F8CB2E;
    text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;
}
/* definindo classes a serem reaproveitados */
#main .titulo {
    width:100%;
    height:80px;
    padding-top:2%;
    color:#2FA4FF;
}
#main .titulo h1 {
    text-transform:uppercase;
}
#main .titulo .faixa {
    background-color:navy;
    width:100%;
    height:1px;
}
.btn {
    width:150px;
    height:25px;
    margin-top:2%; 
    border: 1px solid black;
    border-radius: 10px;
    border-top: 2px solid #fbcc8c;
    border-right: 2px solid #c37e3b;
    border-left: 2px solid #fbcc8c;
    border-bottom: 2px solid #c37e3b;
    box-shadow: inset -1px -1px 2px #362222;
    color:#F9EBC8;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-image: url('../IMG/btnBackground.png');
    background-size:cover;
    outline:none; /* remove a borda branca em volta do botão */
}
.btn:active {
    background-color:#BF8B67;
    border: 2px solid #c37e3b;
    background-image: url('../IMG/btnPress.png');
    background-size:cover;
    outline:none; /* remove a borda branca em volta do botão */
}
.btn:hover{
    border-style:unset;
}
/* fim definindo classes a serem reaproveitados */

/* Definindo css para a scrollbar */
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  body::-webkit-scrollbar{
      width:10px;
      height:100%;
      background-color:rgba(240, 248, 255, 0.8);
  }
  body::-webkit-scrollbar-thumb{
      width:10px;
      height:auto;
      border-top: 2px solid #c37e3b;
      border-right: 2px solid #c37e3b;
      border-left: 2px solid #fbcc8c;
      border-bottom: 2px solid #fbcc8c;
      background-color:#FAFFAF;
  }
/* Fim definindo css para a scrollbar */

/* classes para utilizar com javascript */
.chirivia {
    background-image:url('../IMG/chirivia.png');
}
.alho {
    background-image:url('../IMG/alho.png');
}
.batata {
    background-image:url('../IMG/batata.png');
}
.couve {
    background-image:url('../IMG/couve.png');
}
.couve-flor {
    background-image:url('../IMG/couve-flor.png');
}
.ruibardo {
    background-image:url('../IMG/ruibardo.png');
}
.vagem {
    background-image:url('../IMG/vagem.png');
}
.cafe {
    background-image:url('../IMG/cafe.png');
}
.morango {
    background-image:url('../IMG/morango.png');
}
.tulipa {
    background-image:url('../IMG/tulipa.png');
}
.jasmim-azul {
    background-image:url('../IMG/jasmim-azul.png');
}
/* fim classes para utilizar com javascript */


/* div principal */
#main {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:75%;
    height:auto;    
    background-color:rgba(240, 248, 255, 0.8);
}
/* div de cabeçalho dentro da div principal*/
#main #cabecalho {
    background-image: linear-gradient(#001E6C, #035397);
    width:100%;
    height:30%;
    padding:7px;
}
/* tag img dentro de cabeçalho */
#main #cabecalho img {
    width:350px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

/* alterando css da div primavera */
#main #primavera {
    width:100%;
    padding-left:3%;
    padding-right:3%;
}
#main #primavera .titulo h1 {
    color:#FFAD60;
    font-size:35px;
}
#main #primavera #infoPrimavera {
    display:flex;
    justify-content:space-between;
    width:100%;
}
#main #primavera #infoPrimavera #opcoes {
    width:80%;
    font-size:30px;
}
#main #primavera #infoPrimavera #opcoes h2 {
    font-size:87%;
}
#main #primavera #infoPrimavera #opcoes select {
    border: 1px solid black;
    background-color:#FFF1BD;
    border-radius:2px;
    margin-top:20%;
    width:87%;
    height:35px;
    box-shadow: inset 0 0 1em #F3C892;
}
#main #primavera #infoPrimavera #opcoes input {
    border: 1px solid black;
    background-color:#FFF1BD;
    border-radius:2px;
    width:87%;
    height:35px;
    box-shadow: inset 0 0 1em #F3C892;
    -webkit-appearance:none; /* remove as setas dos input */
    outline:none; /* remove as bordar brancas */
    padding-left:5px;
}


#main #primavera #infoPrimavera #botoes {
    width:80%;
    display:flex;
    justify-content:space-between;
}

#main #primavera #infoPrimavera #informacoes {
    width:100%;
    display:flex;
    background-color:#FFE699;
    font-size:100%;
}
#main #primavera #infoPrimavera #informacoes #infoEsquerda {
    height:100%;
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding:1%;
}
#main #primavera #infoPrimavera #informacoes #infoEsquerda #quant {
    height:100%;
}
#main #primavera #infoPrimavera #informacoes #infoEsquerda #quant #ajuste {
    display:flex;
    flex-direction:column;
        justify-content:space-between;
        height:100%;
}
#main #primavera #infoPrimavera #informacoes #infoEsquerda .custo {
    display:flex;
}

#main #primavera #infoPrimavera #informacoes #infoDireita {
    width:50%;
    height:100%;
    padding:10px;
    display:flex;
    flex-direction:column;
}
#main #primavera #infoPrimavera #informacoes #infoDireita #imgPlanta {
    width:80px;
    height:80px;
    float:right;
    background-size:100%;
    border-top: 4px solid #c37e3b;
    border-right: 4px solid #c37e3b;
    border-left: 4px solid #fbcc8c;
    border-bottom: 4px solid #fbcc8c;
    background-color: #ecab62;
    display:flex;
}
#main #primavera #infoPrimavera #informacoes #infoDireita #exibQuantTotal{
    margin-top:5px;
}
#main #primavera #infoPrimavera #informacoes #infoDireita #diasColheita{
    margin-top:5px;
}
#main #primavera #infoPrimavera #informacoes #infoDireita #info {
    width:100%;
    margin-top:5px;
}
#main #primavera #infoPrimavera #informacoes #infoDireita #info p{
    font-size:100%;
    text-shadow: 0 0 0;
    color:#EEEEEE; /* Brown */
    text-shadow: -1px 0 #062C30, 0 1px #062C30, 1px 0 #062C30, 0 -1px #062C30;
}

#main #primavera #informacoesCalendario {
    width:100%;
    height:355px;
    display:flex;
}
#main #informacoesCalendario #calenPrimavera {
    width:480px;
    height:336px;
    margin-top:15px;
    background-image:url(../IMG/calendarioPrimavera.png);
    background-size:cover;
    background-repeat: no-repeat;
}