body {
    background-image: url(../IMG/stardewBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* definindo classes a serem reaproveitados */
#main .titulo {
    width:100%;
    height:80px;
    padding-top:2%;
    color:#2FA4FF;
}
#main .titulo h1 {
    text-transform:uppercase;
}
#main .titulo .faixa {
    background-color:navy;
    width:100%;
    height:1px;
}
th, td {
    border: 1px solid black;
}

/* div principal */
#main {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:75%;
    height:100%;
    background-color:rgba(240, 248, 255, 0.8);
}
/* div de cabeçalho dentro da div principal*/
#main #cabecalho {
    background-image: linear-gradient(#001E6C, #035397);
    width:100%;
    height:30%;
    padding:7px;
}
/* tag img dentro de cabeçalho */
#main #cabecalho img {
    width:350px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

/* alterando css da div primavera */
#main #primavera {
    width:100%;
    padding-left:3%;
    padding-right:3%;
}
#main #primavera #infoPrimavera {
    display:flex;
    justify-content:space-between;
    width:100%;
}
#main #primavera #infoPrimavera #plantas {
    width:100%;
}
#main #primavera #infoPrimavera #plantas select {
    border: 1px solid black;
    background-color:#FFF7BC;
    border-radius:2px;
    border-radius:2px;
    margin-top:20%;
    width:87%;
    height:35px; 
}
#main #primavera #infoPrimavera #plantas input {
    border: 1px solid black;
    background-color:#FFF7BC;
    width:87%;
    height:35px;
}

#main #primavera #infoPrimavera #informacoes {
    width:100%;
    background-color:#FFF7BC;
}
#main #primavera #infoPrimavera #informacoes #plantas {
    width:100%;
    height:100%;
    padding:1%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
