body {
    background-image: url(../IMG/stardewBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* definindo classes a serem reaproveitados */
#main .titulo {
    width:100%;
    height:80px;
    padding-top:2%;
    color:#2FA4FF;
}
#main .titulo h1 {
    text-transform:uppercase;
}
#main .titulo .faixa {
    background-color:navy;
    width:100%;
    height:1px;
}
th, td {
    border: 1px solid black;
}

/* div principal */
#main {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:75%;
    height:100%;
    background-color:aliceblue;
}
/* div de cabeçalho dentro da div principal*/
#main #cabecalho {
    background-image: linear-gradient(#001E6C, #035397);
    width:100%;
    height:30%;
    padding:7px;
}
/* tag img dentro de cabeçalho */
#main #cabecalho img {
    width:350px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

/* alterando css da div primavera */
#main #primavera {
    width:100%;
    padding-left:3%;
    padding-right:3%;
}
#main #primavera #infoPrimavera {
    font-size:30px;
}
#main #primavera #infoPrimavera #sobBatata {
    display:flex;
    justify-content:space-between;
    width:100%;
    height:auto;
}

#main #primavera #infoPrimavera #sobBatata #informacoes {
    background-color:darkolivegreen;
    width:50%;
    height:100%;
}